# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\csl12\OneDrive\Doc\Uni-S5\1-Software Engineering Group Project 2043\PublicFiles\Documents\AE2GRP-group5\cs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
